@import 'reset';
@import 'fonts';
@import 'vars';
@import 'libs';
@import 'global';

.header {
  padding: 50px 0 45px;

  &__inner {
    display: flex;
    justify-content: space-between;
  }
}

.logo {
  display: block;
  width: 150px;
  height: 40px;
  @extend %bgimage;
  background-image: url(../images/logo.png);
  background-size: contain;
}

.logo:focus {
  @extend %outline-primary
}

.menu {
  display: flex;
  align-items: center;

  &__list {
    display: flex;
  }

  &__list-item:not(:last-child) {
    margin-right: 28px;
  }

  &__list-link {
    padding: 0 2px 4px;
    border-bottom: 1px solid transparent;
    font-size: 15px;
    color: $primary-neutral;
    transition: border-color 0.4s;
    @extend %rubik-500;

    &:hover {
      border-color: $primary-dark;
    }

    &:focus {
      @extend %outline-primary;
    }
  }

  &__list-link--active {
    border-color: $primary-dark;
  }
}

.user-nav {
  display: flex;

  &__item {
    position: relative;
  }

  &__link,
  &__menu::after,
  &__search::after,
  &__like::after,
  &__cart::after,
  &__item:nth-child(2)::before,
  &__item:nth-child(2)::after,
  &__item:nth-child(3)::after {
    width: 50px;
    height: 50px;
  }

  &__link {
    position: relative;
    @extend %flexcenter;
  }

  &__link:focus {
    @extend %outline-primary;
  }

  &__item:first-child,
  &__item:nth-child(3) {
    margin-right: 40px;
  }

  &__item:nth-child(2) {
    margin-right: 20px;
  }

  &__search::before,
  &__like::before,
  &__cart::before,
  &__menu::before {
    z-index: 1;
    width: 20px;
    height: 20px;
    background-image: url(../images/icons/search-icon.svg);
    @extend %beforeafter,
    %bgimage;
    background-size: contain;
    transition: transform 0.3s;
  }

  &__like::before {
    background-image: url(../images/icons/heart-icon.svg);
  }

  &__cart::before {
    background-image: url(../images/icons/cart-icon.svg);
  }

  &__menu::before {
    background-image: url(../images/icons/menu-icon.svg);
  }

  &__search:hover::before,
  &__like:hover::before,
  &__cart:hover::before,
  &__menu:hover::before {
    transform: scale(1.2);
  }

  &__menu::after,
  &__search::after {
    @extend %beforeafter;
    border-radius: 50%;
    background-color: $primary-light;
  }

  &__search::after {
    background-color: #edf1f4;
  }

  &__like::after,
  &__cart::after {
    @extend %beforeafter;
    background-color: #fcd7b6;
  }

  &__item:nth-child(2)::before,
  &__item:nth-child(2)::after,
  &__item:nth-child(3)::after {
    @extend %beforeafter;
    top: 0;
    left: -25px;
    background-color: #fcd7b6;
    border-radius: 50%;
  }

  &__item:nth-child(2)::after {
    left: 25px;
    border-radius: 0;
  }

  &__item:nth-child(3)::after {
    left: 25px;
  }

  &__item:nth-child(3)::before {
    @extend %beforeafter;
    height: 32px;
    z-index: 1;
    top: 8px;
    left: -10px;
    border-left: 1px solid #fde7d3;
  }

  &__num {
    position: relative;
    top: -8px;
    right: -8px;
    z-index: 2;
    text-align: center;
    font-size: 10px;
    color: #3d525e;
    @extend %dmsans-400,
    %flexcenter;
  }

  &__num::before {
    @extend %beforeafter;
    z-index: -1;
    width: 16px;
    height: 16px;
    background-color: #fff;
    border-radius: 50%;
  }
}

.footer {
  padding: 100px 0 35px;
  color: $footer-default;
  font-size: 14px;
  line-height: 1.7;

  &__top {
    display: flex;
    padding-bottom: 70px;
  }

  &__logo {
    margin-bottom: 25px;
  }

  &__top-title {
    margin-bottom: 14px;
    @extend %dmsans-700;
    font-size: 16px;
    text-transform: uppercase;
    color: $footer-title;
  }

  &__top-link {
    display: block;
    margin-bottom: 8px;
  }

  &__top-link:focus,
  &__input:focus,
  &__nav-link:focus {
    @extend %outline-secondary;
  }

  &__top-text {
    margin-bottom: 35px;
  }

  &__top-item:last-child &__top-link {
    margin-bottom: 0;
  }

  &__top-contact {
    transform: translateY(-12px);
  }

  &__top-address {
    font-style: normal;
  }

  &__top-services,
  &__top-account,
  &__top-contact {
    max-width: 200px;
    width: 100%;
    margin-right: 100px;
  }

  &__top-news {
    max-width: 270px;
  }

  &__submit {
    display: flex;
  }

  &__input,
  &__btn {
    padding: 10px 15px;
    border: none;
    width: 100%;
  }

  &__btn:focus {
    @extend %outline-primary;
  }

  &__input {
    background-color: #fef7f0;
    max-width: 170px;
  }

  &__input::placeholder {
    font-size: 12px;
    color: #234969;
  }

  &__btn {
    max-width: 100px;
    background-color: $primary-light;
    color: white;
    cursor: pointer;
    transition: background-color 0.4s;
  }

  &__btn:hover {
    background-color: $primary-neutral;
  }

  &__bottom {
    display: flex;
    justify-content: space-between;
    padding-top: 35px;
    border-top: 1px solid #dae4e9;
  }

  &__nav-list {
    display: flex;
  }

  &__nav-link {
    display: block;
    line-height: 1.3;
  }

  &__nav-item {
    padding-left: 15px;
  }

  &__nav-item:not(:last-child) {
    padding: 0 15px;
    border-right: 1px solid $footer-default;
  }

  &__top-link:hover,
  &__nav-link:hover {
    text-decoration: underline;
  }
}

.top-slider {
  position: relative;


  &__inner {
    z-index: 1;
    padding: 220px 0 275px;
    background-color: #fcd7b6;
  }


  &__title {
    margin-bottom: 25px;
    max-width: 470px;
    font-size: 70px;
    line-height: 1;
    text-transform: uppercase;
    color: $primary-dark;
    @extend %rubik-500;
  }

  &__text {
    margin-bottom: 35px;
    max-width: 370px;
    font-size: 18px;
    color: $primary-neutral;
  }

  &__btn {
    position: relative;
    display: block;
    max-width: 200px;
    @extend %btn;
  }

  &__btn:hover {
    background-color: $primary-neutral;
  }

  &__btn:focus {
    @extend %outline-primary;
  }

  &__btn::after {
    @extend %beforeafter,
    %bgimage;
    top: 27px;
    right: 18px;
    width: 24px;
    height: 10px;
    background-image: url(../images/icons/arrow-right.svg);
    background-size: contain;
  }

  &__item-inner {
    display: flex;
    justify-content: space-between;
  }

  &__img {
    object-position: center center;
    object-fit: contain;
  }

  &__inner .slick-dots {
    position: absolute;
    right: 50%;
    z-index: -1;
    transform: translateX(50%);
    bottom: 50px;
    display: flex;

    li {
      button {
        width: 30px;
        height: 30px;
        border: none;
        border-radius: 50%;
        padding: 0;
        background-color: #fde3cc;
        @extend %rubik-500;
        font-size: 11px;
        color: $primary-dark;
        transition: background-color 0.4s;
        cursor: pointer;
      }

      button:focus {
        @extend %outline-secondary;
      }

      &.slick-active button,
      &:hover button {
        background-color: #fff;
      }
    }

    li:not(:last-child) {
      margin-right: 12px;
    }

  }

  &__inner .slick-dots::after {
    @extend %beforeafter;
    top: -670px;
    right: -670px;
    z-index: -1;
    height: 640px;
    width: 640px;
    border-radius: 50%;
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);
  }

}


.benefits {
  &__inner {
    background-color: #fef7f0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  &__item {
    position: relative;
    @extend %flexcenter;
    padding: 45px 0;
  }

  &__item-wrapper {
    position: relative;
  }

  &__item:not(:last-child) {
    border-right: 1px solid #e8e4df;
  }

  &__title {
    margin-bottom: 10px;
    @extend %dmsans-700;
    color: $secondary-dark;
    font-size: 18px;
    line-height: 1;
  }

  &__text {
    @extend %dmsans-400;
    color: $secondary-neutral;
    max-width: 200px;
  }

  &__item-wrapper::before {
    @extend %beforeafter,
    %bgimage;
    left: -80px;
    width: 50px;
    height: 50px;
    background-image: url(../images/icons/benefits-1.svg);
    background-size: contain;
  }

  &__item:nth-child(2) &__item-wrapper::before {
    background-image: url(../images/icons/benefits-2.svg);
  }

  &__item:nth-child(3) &__item-wrapper::before {
    background-image: url(../images/icons/benefits-3.svg);
  }

  &__item-wrapper::after {
    @extend %beforeafter;
    top: 32px;
    left: -47px;
    width: 20px;
    height: 20px;
    background-color: rgba(163, 187, 200, 0.34);
    border-radius: 50%;
  }

  &__item:nth-child(2) &__item-wrapper::after {
    top: 25px;
    left: -44px;
  }

  &__item:nth-child(3) &__item-wrapper::after {
    top: 34px;
    left: -44px;
  }
}

.week {
  padding: 60px 0 185px;

  &__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__title {
    margin-bottom: 25px;
  }

  &__filter {
    @extend %flexcenter;
    margin-bottom: 75px;
  }

  &__filter-item:not(:last-child) {
    margin-right: 15px;
  }

  &__filter-btn {
    border: none;
    padding: 5px 8px;
    background-color: transparent;
    @extend %dmsans-700;
    color: $secondary-light;
    cursor: pointer;
    transition: color 0.4s;
  }

  &__filter-btn:hover,
  &__filter-item .mixitup-control-active {
    color: #1a1a1a;
  }

  &__filter-btn:focus {
    @extend %outline-secondary;
  }

  &__content {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px 30px;
  }

  &__item {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 25px 15px 40px;
    width: 270px;
    height: 380px;
    box-shadow: 0px 6px 47px 3px rgba(37, 37, 37, 0.05);
  }

  &__img {
    object-fit: contain;
    object-position: center center;
  }

  &__item-title {
    margin-top: auto;
    @extend %dmsans-500;
    color: $primary-dark;
  }

  &__item-price {
    @extend %dmsans-700;
    color: $primary-light;
  }

  &__item-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    justify-content: space-between;
    max-width: 170px;
    opacity: 0;
    transition: opacity 0.4s;
  }

  &__item--active &__item-btn {
    opacity: 1;
  }

  &__item-link {
    @extend %flexcenter;
  }

  &__item-link:not(:last-child) {
    margin-right: 12px;
  }

  &__item-link,
  &__item-link::after {
    width: 45px;
    height: 45px;
  }

  &__item-link::before {
    z-index: 1;
    @extend %beforeafter,
    %bgimage;
    width: 20px;
    height: 20px;
    background-size: contain;
    background-image: url(../images/icons/week-search.svg);
    transition: transform 0.3s;
  }

  &__item-link:nth-child(2):before {
    background-image: url(../images/icons/week-cart.svg);
  }

  &__item-link:nth-child(3):before {
    background-image: url(../images/icons/week-heart.svg);
  }

  &__item-link::after {
    @extend %beforeafter;
    background-color: #fff;
    box-shadow: 0px 6px 47px 3px rgba(37, 37, 37, 0.05);
    border-radius: 50%;
  }

  &__item-link:nth-child(2)::after {
    background-color: $primary-light;
  }

  &__item-link:hover::before {
    transform: scale(1.2);
  }

  &__item-link:focus {
    @extend %outline-primary;
  }
}